// Base Colours
$black: #000000c4;
$very-dark-grey: #191919;

// Text Colours
$white: #fff;
$dark-grey: #888;

// Brand Colours
$sky-blue: #a0cafb;
$lilac: #be9df4;
$dark-lilac: rgba(88, 8, 219, 0.4);
$dark-blue: rgba(4, 120, 255, 0.4);

$disabled-button: #444;
