@use '../base/colours';
@use '../base/variables';

@mixin button-base($background: colours.$white, $color: colours.$very-dark-grey) {
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
  background: $background;
  color: $color;

  &:hover {
    transform: translateY(-2px);
  }
}

@mixin section-heading($color: colours.$very-dark-grey) {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  color: $color;
}

@mixin section-subheading($color: colours.$dark-grey) {
  font-size: 1.5rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 3rem;
  color: $color;
  font-weight: 500;
  line-height: 1.4;
}

@mixin gradient-section-content {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(135deg, colours.$lilac 0%, colours.$sky-blue 100%);
  padding: 10rem;
  border-radius: 100px;
}

@mixin gradient-section-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12vh;

  .section-content {
    @include gradient-section-content;
  }
}
