<div class="hero-section">
  <div class="background-gradient">
  </div>
  <div class="background-gradient-shadow">
  </div>
  <div class="background-gradient-ease">
  </div>
  <div class="web-content">
    <div class="cloud-behind-text">
      <div class="cloud-layer1"></div>
      <div class="cloud-layer2"></div>
      <div class="cloud-layer3"></div>
    </div> 
    <div class="web-information">
      <h1 class="title">Build your <br><span class="gradient-text">dream</span>.</h1>
      <p class="description">
        DreamLab allows you to unlock your creativity and enhance your living space at a click of a button. 
      </p>
      <a class="btn" routerLink="/plan">Get Started</a>
    </div>
    <div class="web-image">
      <img src="assets/img/room2.png" alt="Hero Image" />
    </div>
  </div>
</div>
