<div class="page-container">
  <h2>Edit Your Room</h2>
  <div class="edit-area">
    <div class="canvas-container">
      <app-room-sizing
        [initialValue]="initialValue"
        (lengthChange)="updateRoomDimension($event, 'length')"
        (widthChange)="updateRoomDimension($event, 'width')"
        (heightChange)="updateRoomDimension($event, 'height')"
      ></app-room-sizing>
      <canvas id="edit-room-canvas"></canvas>
    </div>
    <app-object-selection-pane
      class="object-selection-pane"
      (addObject)="addObjectToRoom($event)"
      (removeObject)="removeObjectFromRoom($event)"
      (selectObjectToTransform)="attachObjectToTransformControls($event)"
      (rotateObject)="rotateObjectInRoom($event)"
    ></app-object-selection-pane>
  </div>
</div>
