<div class="page-container">
  <h1>Edit Your Room</h1>
  <div class="edit-area">
    <div class="canvas-container">
      <app-room-sizing
        (lengthChange)="updateRoomLength($event)"
        (widthChange)="updateRoomWidth($event)"
      ></app-room-sizing>
      <canvas id="edit-room-canvas"></canvas>
    </div>
    <app-object-selection-pane
      class="object-selection-pane"
      (addObject)="addObjectToRoom($event)"
      (removeObject)="removeObjectFromRoom($event)"
      (selectObjectToTransform)="attachObjectToTransformControls($event)"
      (rotateObject)="rotateObjectInRoom($event)"
    ></app-object-selection-pane>
  </div>
</div>
