@use "src/assets/styles/base/colours";
@use "src/assets/styles/base/variables";
@use "src/assets/styles/globals/globals";

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 50rem;
  padding: 2rem 2rem;
  height: 10vh;
  text-decoration: none;

  .nav-logo {
    width: 20%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      margin: 0;
      transition: transform 0.3s ease-out;

      &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-out;
        cursor: pointer;
      }
    }
  }

  .nav-links {
    display: flex;
    gap: 2.5rem;

    a {
      color: colours.$very-dark-grey;
      text-decoration: none;
      font-weight: 700;
      transition: color 0.3s ease;
      position: relative;
      font-size: 1.5rem;

      &:hover {
        color: colours.$lilac;
      }

      &.active {
        color: colours.$lilac;
        font-weight: 600;

        &::after {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 2px;
          background: variables.$styled-gradient;
        }
      }
    }
  }
}

.web-container {
  position: relative;
  min-height: 100vh;
}

.web-header {
  position: relative;
  z-index: 3;
}

.hero-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .web-content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 0;

    h1 {
      font-size: 10rem;
      color: colours.$white;
      margin-bottom: 2rem;
      text-align: center;

      .gradient-text {
        background: variables.$styled-gradient;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
      }
    }

    .btn {
      margin-top: 2rem;
      padding: 1rem 3rem;
      background-color: colours.$lilac;
      color: colours.$white;
      border: none;
      border-radius: 12px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        background-color: colours.$sky-blue;
        transition: background-color 0.3s ease;
      }
    }
  }
}
