<div class="web-container">
  <div class="web-header">
    <nav class="navbar">
      <div class="nav-logo">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img src="logo-final.svg"></a>
      </div>
      <div class="nav-links">
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/plan" routerLinkActive="active">Plan your room</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <div class="web-footer">
    <p>&copy; 2023 My Web App</p>
  </div>
</div>
