<div class="theme-panel">
  <h2>Themes</h2>
  <div class="theme-buttons">
    <button type="button" (click)="selectTexture('texture1')">
      <img src="../../../../assets/img/texture1.png" alt="Theme 1" />
    </button>
    <button type="button" (click)="selectTexture('texture2')">
      <img src="../../../../assets/img/texture2.png" alt="Theme 2" />
    </button>
    <button type="button" (click)="selectTexture('texture3')">
      <img src="../../../../assets/img/texture3.png" alt="Theme 3" />
    </button>
  </div>
</div>
