<div
  *ngFor="let object of objectsCurrentlyInRoom"
  id="{{ object.object.id }}"
  class="object-block"
>
  <div class="left-buttons">
    <button
      class="transform-button"
      (click)="selectObjectToTransform.emit(object)"
    >
      <fa-icon [icon]="faUpDownLeftRight"></fa-icon>
    </button>

    <button class="transform-button" (click)="rotateObject.emit(object)">
      <fa-icon [icon]="faRotate"></fa-icon>
    </button>

    <input
      class="colour-picker"
      [(colorPicker)]="object.colour"
      [cpOutputFormat]="'rgba'"
      [style.background]="object.colour"
      [style.width]="'10px'"
    />
  </div>

  <model-viewer
    class="model"
    *ngIf="object.filePath"
    [src]="object.filePath"
    camera-controls
    disable-pan
  ></model-viewer>

  <button
    class="add-remove-button"
    (click)="
      object.displayedInScene
        ? removeObject.emit(object.object.id)
        : addObject.emit(object)
    "
  >
    <fa-icon [icon]="object.displayedInScene ? faTrash : faPlus"></fa-icon>
  </button>
</div>
