@use "../../../assets/styles/base/colours";

:host {
  padding: 10px;
  overflow-y: scroll;
}

p {
  color: white;
}

.object-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
