<div
  *ngFor="let object of objectsCurrentlyInRoom"
  id="{{ object.object.id }}"
  class="object-block"
>
  <button
    class="transform-button"
    (click)="selectObjectToTransform.emit(object)"
  >
    Move
  </button>

  <p>{{ object.object.id }}</p>

  <button
    *ngIf="!object.displayedInScene"
    class="add-object-button"
    (click)="addObject.emit(object)"
  >
    +
  </button>
  <button
    *ngIf="object.displayedInScene"
    class="remove-object-button"
    (click)="removeObject.emit(object.object.id)"
  >
    -
  </button>
</div>
