<div class="controls-panel">
  <ng-container class="control-bar">
    <label for="length-control">Length</label>
    <input
      id="length-control"
      type="range"
      min="5"
      max="20"
      step="1"
      [(value)]="initialValue"
    />
  </ng-container>

  <ng-container class="control-bar">
    <label for="width-control">Width</label>
    <input
      id="width-control"
      type="range"
      min="5"
      max="20"
      step="1"
      [(value)]="initialValue"
    />
  </ng-container>

  <ng-container class="control-bar">
    <label for="height-control">Height</label>
    <input
      id="height-control"
      type="range"
      min="5"
      max="20"
      step="1"
      [(value)]="initialValue"
    />
  </ng-container>
</div>
